<form>
	<input class="form-control" id="topicName" type="text" placeholder="Topic name..." /><br>
	<textarea class="form-control" id="topicBody" placeholder="Your question"></textarea>
	<br>
	<button class="btn btn-success" id="submitTopic">Create</button>

</form><br>

<a href="/topics/all" class="btn btn-primary">Back</a>