<form>

	<div class = "container_for_sign_in_up">
	<div class = "sign">
    <button class="btn btn-success" id="submitTopic">Sign up</button>
    <p> Sign up using any of the following services. </p>
    <div>
    <a href="#"> <div class = "other_services">Facebook</div></a>
    <a href="#"> <div class = "other_services">Linkedin</div></a>
    <a href="#"> <div class = "other_services">Twitter</div></a>
    <a href="#"> <div class = "other_services">Gmail</div></a>

    </div>
	</div>
    
	<div class = "sign">
    <button class="btn btn-success" id="submitTopic">Sign in</button>
    <p> Sign in with your email and password </p>
    <input class="form-control" id="topicName" type="text" placeholder="Your email" /><br>
    <input class="form-control" id="topicName" type="text" placeholder="Your password" /><br>
    <a href="#">Forgot password</a>
	</div>
    </div>

	<div class = "text-fields">
	<h4>Provide good title for your question to be searchable</h4>
    <input class="form-control" id="topicName" type="text" placeholder="Provide Title" /><br>
	<textarea class="form-control" id="topicBody" placeholder="Your Question"></textarea>
	</div>
	
	<br>
	<div>
	<a><button class="btn btn-success" id="submitTopic">Create</button></a>
    <a href="/topics/all" class="btn btn-primary">Back</a>
    </div>
</form><br>

	<input class="form-control" id="topicName" type="text" placeholder="Topic name..." /><br>
	<textarea class="form-control" id="topicBody" placeholder="Your question"></textarea>
	<br>
	<button class="btn btn-success" id="submitTopic">Create</button>

</form><br>

<a href="/topics/all" class="btn btn-primary">Back</a>
